{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "templates",
            "src/ConfigProvider.php"
        ]
    },
    "logs": {
        "text": "infection.log",
        "stryker": {
            "badge": "main"
        }
    },
    "mutators": {
        "@default": true
    }
}